@{
  Layout = "_Layout";
}

  <h2>Stylist: @Model.name 's Clients'</h2>
  @if (@Model.GetClients().Count == 0)
  {
    <h4>There is no client for the stylist</h4>
  }
  @foreach (var client in @Model.GetClients())
  {
      <h4><a href='/stylists/@Model.id'>@client.stylists_id</a>: <a href='/stylists/@client.id/clients/@client.id'>@client.name</a> | <a href="/clients/@client.id/update">Update</a> | <a href="/clients/@client.id/delete">Delete</a></h4>
      <p>Appointment: @client.appointment</p>
  }
  <a href="/"><button class="btn btn-success">Back Home</button></a>
