@{
  Layout = "_Layout";
}

<h1>Stylists with @Model["selectedSpecialty"].name</h1>

@if (@Model["specialtyStylists"].Count ==0)
{
  <h4>There is no specialty.</h4>
}
  <h4>Stylists</h4>
<ul>
  @foreach (var specialty in @Model["specialtyStylists"])
  {
    <div class="foreach">
      <h4><a href='/specialtys/@specialty.id'>@specialty.name</a> | <a href="/specialtys/@specialty.id/update">Update</a> | <a href="/specialtys/@specialty.id/delete">Delete</a></h4>
    </div>
  }
</ul>
<form action="/specialtys/@Model["selectedSpecialty"].id" method="post">
  <div class="form-group">
    <label for="specialtyId">Add Stylist: </label>
    <select id="specialtyId" name="specialtyId">
    @foreach(var specialty in @Model["allStylists"])
    {
      <option class="form-control" value="@specialty.id">@specialty.name</option>
    }
    </select>
  </div>
  <button type="submit" class="btn btn-info">Add Stylist</button>
</form>

<a href='/specialtys'><button class='btn btn-info'>Back to Specialties</button></a>
<a href='/'><button class='btn btn-info'>Back Home</button></a>
