@{
  Layout = "_Layout";
}

<h1>Edit @Model["client"].name</h1>
<form action='/clients/@Model["client"].id/update' method='post'>
<input id='clientId' name='clientId' type='hidden' value='@Model["client"].id'>
  <div class="form-group">
    <label for='newName'>Client Name: </label>
    <input id='newName' name='newName' type='text' value='@Model["client"].name'>

    <label for='newStylistId'>Stylist: </label>
    <select name="newStylistId">
      @foreach (var stylist in Model["allStylists"])
      {
        <option value="@stylist.id">@stylist.name</option>
      }
    </select>
  </div>
  <button type='submit' class='btn btn-info'>Edit Client</button>
</form>

<a href='/clients'><button class='btn btn-info'>View clients</button></a>
<a href='/clients/@Model["client"].id'><button class='btn btn-info'>Cancel Edit</button></a>
<a href='/'><button class='btn btn-info'>Back Home</button></a>
</div>
