@{
  Layout = "_Layout";
}

<h1>@Model.name 's Clients</h1>

@if (@Model.GetClients().Count ==0)
{
  <h4>There is no client.</h4>
}
<ul>
  @foreach (var client in @Model.GetClients())
  {
    <div class="foreach">
      <h4><a href='/stylists/@Model.id/clients/@client.id'>@client.name</a> | <a href="/clients/@client.id/update">Update</a> | <a href="/clients/@client.id/delete">Delete</a></h4>
      <p>Appointment: @client.appointment</p>
    </div>
  }
</ul>
<a href='/stylists/@Model.id/clients/new'><button class='btn btn-info'>Add Client</button></a>
<a href='/stylists'><button class='btn btn-info'>Back to Stylists</button></a>
<a href='/'><button class='btn btn-info'>Back Home</button></a>
